<main>
<h2>User info</h2>

<% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user do |f| %>
  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true, id:"inputName" %>
  <label for="inputImage">Image</label>
  <%= f.file_field :profile_image, id:"inputImage", accept: 'image/*' %>
  <label for="inputText">introduction</label>
  <%= f.text_area :introduction, id:"inputText" %>
  <%= f.submit "Update User" %>
<% end %>
</main>